<div id="login">
  <div class="content">
    <form class="form-vertical man pan" role="form" auto-hide="true">
      <h3 class="form-title">Log In to DDN RoadNetwork</h3>
      <div class="alert alert-danger pa8" ng-show="errorMsg">{{errorMsg}}</div>

      <div class="form-group">
        <div class="input-icon">
          <span class="glyphicon glyphicon-user"></span>
          <input type="text" name="username" class="form-control" placeholder="Username" autofocus="autofocus" ng-model="userName" required>
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <span class="glyphicon glyphicon-lock"></span>
          <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password" required>
        </div>
      </div>

      <div class="form-action">
        <button type="submit" class="submit btn btn-primary pull-right" ng-click="login()" ng-disable="loading">
          <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login&nbsp;
        </button>
        <img class="pull-right prs" src="app/assets/images/loader.gif" ng-if="loading">
      </div>
    </form>
  </div>
</div>