<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavController">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand pull-left pan" href="https://zip.pr" target="_blank">
				<img class="zippr-img" src="app/assets/images/zippr.png" />
			</a>
		</div>

		<div class="navbar-collapse" id="myNavbar" uib-collapse="isCollapsed">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" uib-dropdown on-toggle="toggled(open)">
					<a class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" href="javascript:void(0)">
						{{getUserName()}}&nbsp;<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
						<li>
							<a href="javascript:void(0)" ng-click="logout();">
								<span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>