body, html {height: 100%; width: 100%; position: relative; margin: 0 auto;}

/* Leaflet */
.leaflet-container a:hover{
	color: #e8796a;
}

/* zippr image */
.zippr-img {height: 40px; padding-top: 5px;}

/* navigation */
.navbar-inverse{background-color: #e8796a; border-color: #e8796a; z-index: 10009;}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{color: #fff;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{ color: #46453A; }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #46453A;
	background: #fff;
}

.navbar-inverse .navbar-toggle .glyphicon-th{color: #fff; font-size: 19px;}
.navbar-toggle.pull-left{display: block !important; padding: 4px 12px;}

.navbar-fixed-top {border-width: 0 0 1px; box-shadow: 0px 0px 3px 1px #e8796a;}

.navbar-inverse .navbar-toggle{background: #333; border-color: #d85124;}
.navbar-inverse .navbar-toggle:hover{background: #e8796a;}
.dropdown-menu > li > a {color: #e8796a;}

/* login */
#login{
	background-color: #fff; width: 350px; margin: 0 auto; border: 1px solid #d9d9d9;
	border-top: 5px solid #e8796a; margin-top: 100px;
}

#login .content {padding: 30px; padding-top: 10px; padding-bottom: 15px;}
#login .form-title{text-align: center; font-weight: 300; margin-bottom: 25px;}
#login .input-icon{position: relative;}
.input-icon .glyphicon{
	display: block!important; position: absolute!important; z-index: 1;
	margin: 8px 2px 4px 10px; width: 16px; height: 16px; font-size: 16px;
	text-align: center;
}
.input-icon>input{padding-left: 30px!important; border-left: 2px solid #e8796a;}
#login .form-action{height: 34px;}

/* button */
.btn-primary {background-color: #e8796a; border-color: #e56857;}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #46453A; border-color: #46453A;
}
/* login */

/* Main */
	.container{width: 100%; padding-left: 0px; padding-right: 0px;}
	#main-container{height: 100%;width: 100%; padding-top: 60px;}
	#content-pane{
		position: relative;
		height: -moz-calc(100% - 10px); height: -webkit-calc(100% - 10px);
		height: calc(100% - 10px); min-height: 500px;
	}
/* Main */

/* Custom */
	.man{margin: 0px !important;}
	.pan{padding: 0px;}
    .buttons{float: top;}

.mtm{
	margin-top: 10px;
}
.mtl{
	margin-top: 15px;
}
.mtn{
	margin-right: 80px;
	margin-top: 20px;
}

.Hed-txt{
	background-color: #5BBC93;
	color: white;
	width: 95%;
	height: 40px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
	padding-top: 5px;
	font-size: 20px;
}

.shadow-box {
	   height: 540px;	
	   border: 1px solid #9B9B9B;	
	   background-color: #FFFFFF;	
	   box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.5);
	   margin-top: 50px;
}





