body, html {height: 100%; width: 100%; position: relative; margin: 0 auto;}

/* Leaflet */
.leaflet-container a:hover{
	color: #e8796a;
}

/* zippr image */
.zippr-img {height: 40px; padding-top: 5px;}

/* navigation */
.navbar-inverse{background-color: #e8796a; border-color: #e8796a; z-index: 10009;}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{color: #fff;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{ color: #46453A; }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #46453A;
	background: #fff;
}

.navbar-inverse .navbar-toggle .glyphicon-th{color: #fff; font-size: 19px;}
.navbar-toggle.pull-left{display: block !important; padding: 4px 12px;}

.navbar-fixed-top {border-width: 0 0 1px; box-shadow: 0px 0px 3px 1px #e8796a;}

.navbar-inverse .navbar-toggle{background: #333; border-color: #d85124;}
.navbar-inverse .navbar-toggle:hover{background: #e8796a;}
.dropdown-menu > li > a {color: #e8796a;}

/* login */
#login{
	background-color: #fff; width: 350px; margin: 0 auto; border: 1px solid #d9d9d9;
	border-top: 5px solid #e8796a; margin-top: 100px;
}

#login .content {padding: 30px; padding-top: 10px; padding-bottom: 15px;}
#login .form-title{text-align: center; font-weight: 300; margin-bottom: 25px;}
#login .input-icon{position: relative;}
.input-icon .glyphicon{
	display: block!important; position: absolute!important; z-index: 1;
	margin: 8px 2px 4px 10px; width: 16px; height: 16px; font-size: 16px;
	text-align: center;
}
.input-icon>input{padding-left: 30px!important; border-left: 2px solid #e8796a;}
#login .form-action{height: 34px;}

/* button */
.btn-primary {background-color: #e8796a; border-color: #e56857;}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #46453A; border-color: #46453A;
}
/* login */

/* Main */
	.container{width: 100%; padding-left: 0px; padding-right: 0px;}
	#main-container{height: 100%;width: 100%; padding-top: 60px;}
	#content-pane{
		position: relative;
		height: -moz-calc(100% - 10px); height: -webkit-calc(100% - 10px);
		height: calc(100% - 10px); min-height: 500px;
	}
/* Main */

/* Custom */
	.man{margin: 0px !important;}
	.pan{padding: 0px;}

/* Custom */


/* Map */
.buttons{float: top;}

#map{
	position: relative;
	height: -moz-calc(100% - 10px);
	height: -webkit-calc(100% - 10px);
	height: calc(100% - 10px);
	min-height: 500px;
}
/* sidebar */
.leaflet-sidebar {
	position: absolute;
	height: -moz-calc(40% - 10px);
	height: -webkit-calc(40% - 10px);
	height: calc(50% - 90px);
	width: 40%;
}
.leaflet-sidebar.left {
	left: -500px;
	transition: left 0.5s, width 0.5s;
	padding-right: 0;
}
.leaflet-sidebar.left.visible {left: 0; }
.leaflet-sidebar.right {
	right: -500px;
	transition: right 0.5s, width 0.5s;
	padding-left: 0; 
}
.leaflet-sidebar.right.visible {right: 0;}
.leaflet-sidebar > .leaflet-control {
	height: 100%;
	width: 80%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6px 20px;
	font-size: 1.1em;
	background-color: #eee;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	-webkit-border-radius: 4px;    
}
.leaflet-touch .leaflet-sidebar > .leaflet-control {
	box-shadow: none;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box; 
}
@media (min-width: 1200px) {
	.leaflet-sidebar {
		width: 25%; 
	}
}

.leaflet-left {
  transition: left 0.5s; 
}

.leaflet-right {
  transition: right 0.5s; 
}

 /* sidebar View */

#mySidenav button {
	position: absolute; /* Position them relative to the browser window */
	left: -50px; /* Position them outside of the screen */
	transition: 0.3s; /* Add transition on hover */
	padding: 10px; /* 15px padding */
	width: 60px; /* Set a specific width */
	text-decoration: none; /* Remove underline */
	font-size: 10px; /* Increase font size */
	color: white; /* White text color */
	border-radius: 0 3px 3px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav button:hover {
	left: 0; /* On mouse-over, make the elements appear as they should */
}


.textStyle {
	width: 60%;
}

.sidePaneView{
	margin-top: 50px;
}


.enterUpdate {
	margin-left: 280px;
	margin-top: 5px;
}

.enterUpdate:hover{
	background-color: #f0f0f0;
	color: black;
}

.currentOperation {
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 10px;
	font-size: 1.4em;
	color: black;
}
		

.pts {padding-top: 5px;}

.modal-header, h4, .close {
	background-color: #5cb85c;
	color:white !important;
	text-align: center;
	font-size: 30px;
}
.modal-footer {
	background-color: #f9f9f9;
}

.table{
	padding-top:180px;
}
.table-panel {
	box-shadow: #888888 0px 0px 8px; padding: 8px;
	float: inherit; width: 98%;
	margin-left: 15px;
}
.table-styling{
	width:100%;
	height:450px;
}
.ui-grid-filter-input{
	width: 10px;
	height: 25px;
}

.ui-grid-cell {
	overflow: visible;
}

.dropdown-menu {
	left: unset;
	right: 0;
}
/* shadow box */
.shadow-panel {
	box-shadow: #888888 0px 0px 8px; padding: 8px;
	float: inherit; width: 100%;
}
.header-panel .refresh {
	color: #fff;
	padding-right: 5px;
	font-size: 15px;
	font-weight: 400;
}


/* header panel */
.header-panel {
	background-color: #e8796a; color: white;
	padding-top: 2px; padding-bottom: 2px;
	text-align: center; margin-bottom: 5px;
	border: 1px solid #acacac;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}



-------------------------------
Testing 1

.numberCircle {
    border-radius: 50%;
    /* behavior: url(PIE.htc); remove if you don't care about IE8 */

    width: 100px;
    height: 100px;
    padding: 40px;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}

.numberCircle:hover{
	color: red;
}
------------------------


2----
.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: red;
  text-align: center;
}

.circle:after {
  display: block;
  margin-left: 50%;
  padding-bottom: 10%;
  width: 20%;
  height: 1%;
  border-radius: 10%;
  background-color: blue;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 4em;
  }
}


