<div class="container" id="home-content">
	<div class=" col-sm-12 mbdl">
	    <form class="form-horizontal">
			<div class="form-group">
				
				<div class="col-sm-3">
					<select class="form-control" ng-model="selectedClient" ng-change="getStats(); fetchAgents()">
						<option value="">NONE</option>
						<option ng-repeat="client in clientsList" value="{{client}}">{{client}}</option>
					</select>
				</div>
				<div class="col-sm-3">
					<select class="form-control" ng-model="selectedULB" ng-change="getStats(); fetchWards()" placeholder="ULB">
						<option value="">NONE</option>
						<option ng-repeat="ulb in ULBsList" value="{{ulb}}">{{ulb}}</option>
					</select>
				</div>
				<div class="col-sm-3">
					<select class="form-control" ng-model="selectedWard" ng-change="getStats()" ng-disabled="wardDisable" place>
						<option value="">NONE</option>
						<option ng-repeat="ward in wardsList" value="{{ward}}">{{ward}}</option>
					</select>
				</div>
				<div class="col-sm-3">
					<select class="form-control" ng-model="selectedAgent" ng-change="getStats()" ng-disabled="agentDisable">
						<option value="">NONE</option>
						<option ng-repeat="agent in agentsList" value="{{agent}}">{{agent}}</option>
					</select>
				</div>

				<div class="col-sm-3 date" >
					<select class="form-control" ng-model="selectedDate" ng-change="getStats()">
						<option value="today">Today</option>
						<option value="yesterday">Yesterday</option>
						<option value="this_week">This Week</option>
						<option value="last_week">Last Week</option>
						<option value="last_7">Last 7 Days</option>
						<option value="last_14">Last 14 Days</option>
						<option value="last_30">Last 30 Days</option>
						<option value="this_month">This Month</option>
						<option value="last_month">Last Month</option>
						<option value="this_year">This Year</option>
						<option value="lifetime">Lifetime</option>
						<option value="custom">Custom</option>
					</select>
				</div>

				<div class="col-sm-2" ng-if="selectedDate=='custom'">
    				<div flex-gt-xs>
      					<label>From</label>
      					<md-datepicker ng-model="fromDate" md-placeholder="Enter date" ng-change="validateFromDate(fromDate)"md-open-on-focus md-min-date="minDate" md-max-date="maxDate" readonly="readonly"></md-datepicker>
      				</div>
      				<div>
      					<label>To</label>
      					<md-datepicker ng-model="toDate" md-placeholder="Enter date" ng-change="validateToDate(toDate)" md-open-on-focus md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
    				</div>
    			</div>
			</div>
		</form>
	</div>
</div>
