<div class="container" id="home-content">
	<div class="shadow-box col-sm-8 col-sm-offset-2">
		<header class="Hed-txt"><strong>LOCALITY-X JUNK DATA DELETION</strong></header>	
		<form class="form-horizontal">
			<div class="form-group mtl">
				<label class="col-sm-10 col-sm-offset-1">Select PrefixCode</label>
				<div class="col-sm-10 col-sm-offset-1">
					<select class="form-control" ng-model="selectedPrefixCode" ng-change="getListOfWards()">
						<option ng-repeat="project in projects" value="{{project}}">{{project}}</option>
					</select>
				</div>
			</div>
			<div class="form-group" ng-show="isSelectedPrefixCode">
				<label class="col-sm-10 col-sm-offset-1">Select ward</label>
				<div class="col-sm-10 col-sm-offset-1">
					<select class="form-control" ng-model="selectedWard">
						<option ng-repeat="ward in wards" value="{{ward}}">{{ward}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-10 col-sm-offset-1">Select ErrorCode</label>
				<div class="col-sm-10 col-sm-offset-1">
					<select class="form-control" ng-model="selectedErrorCode">
						<option ng-repeat="error in errorCodes" value="{{error}}">{{error}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-10 col-sm-offset-1" for="Issue">Issue:</label>
				<div class="col-sm-10 col-sm-offset-1">
					<textarea class="form-control" rows="1" id="Issue" placeholder="Enter Issue"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-10 col-sm-offset-1" for="User Mobile Number">User Mobile Number:</label>
				<div class="col-sm-10 col-sm-offset-1">
				 	<textarea class="form-control" rows="1" id="User Mobile Number" placeholder="Enter User Mobile Number" maxlength="10" ng-model="local_x_updated_by"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-10 col-sm-offset-1" for="Locality Name">Locality Name:</label>
				<div class="col-sm-10 col-sm-offset-1">
				 	<textarea class="form-control" rows="1" id="Locality Name" placeholder="Enter Locality Name"  ng-model="locality_name"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-12">
					<button type="button" class="btn btn-danger pull-right mtn">Delete</button>
				</div>
			</div>
		</form>			
	</div>
</div>
